html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Amatic SC', cursive;
    color: white;
    background-image: url('../images/burgerBackground.jpg');
    background-size: 100% 100%;
}

h1 {
    margin: auto 0;
    margin-left: 25%;
    margin-bottom: 4%;
    margin-top: 3%;
}

#avail {
    float: left;
    margin-right: 5%;
    margin-left: 12%;
}

#devoured {
    float: left;
}

li {
    font-size: 20px;
    list-style-type: none;
}


#add {
    clear: both;
    margin-left: 30%;
}

.container{
    margin-right: 35%;
}